language: python

matrix:
    include:
        - os: linux
          python: 3.7
          dist: xenial
        - os: linux
          python: 3.6
        - os: linux
          python: 3.5
        - os: linux
          python: 3.4
        - os: linux
          python: 2.7
        - os: linux
          python: 3.7-dev
          dist: xenial
        - os: linux
          python: 3.8-dev
          dist: xenial
        - os: linux
          python: nightly
          dist: xenial
    allow_failures:
        - os: linux
          python: 3.4
        - os: linux
          python: 2.7
install:
  - pip install -r requirements.txt
  - python setup.py install
before_script:
  - pip install --upgrade --upgrade-strategy=only-if-needed -r dev-requirements.txt
  - chmod +x test.sh
script:
  - sh test.sh
