.logo{
    vertical-align: middle;
    margin: 10 10 10 10;
    padding: 90 10 10 10;
}

body{
    border: 8px;
    border-color:darkorange;
    background-color:white;
    border-style: groove;
    font-family: 'Baloo Bhaina', cursive;
    
}

.button{
    padding-top: 60px
}

a{
  opacity: 1; 
  transition: opacity 3s;
  -webkit-transition: opacity 3s;
}

a:hover{
    opacity: 0.3;
}
hr{
    border-color: darkorange;
    border-style:double;
}
.fork-pc{
    top: 0;
    border: 0;
    left: 0;
    position: absolute;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}